.homepage {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  .menuContainer_menu {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    // max-width: 50rem;
  }
}

@media (max-width:666px){
  // .homepage {
  //   width: 100vh;
  // }
}